lib/**/data-dumps
lib/**/*.test.js
lib/**/*.test.d.ts
src
.idea
coverage
test-reports
.babelrc
.browserslistrc
.editorconfig
.eslintconfig
.eslintignore
.eslintrc
.prettierrc.js
.stylelintrc
jest.config.js
tsconfig.json
*.tgz
